h1{
	text-align:center;
	color:blue;
}

h2{
	text-align:center;
	color:#fff;
}

h3{
	font:50px Arial, Helvetica,sans-serif;
	text-align:center;
	color: red;
}

body{
	font-family: sans-serif;
	font: italic;
	font:100px;
	text-align: center;
	background-image: url(background.jpg);
	background-repeat: no-repeat ;
}


